body{
    background-color: black;
    background-image: url("https://usagif.com/wp-content/uploads/gifs/moon-41.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Dancing Script", cursive;
    margin: 0;
}
p {
    color:rgb(215, 203, 38); 
    font-size: 50px;
   
}

#lua{
border-radius:10%;
}
.caixa{
    background-color: aliceblue;
    width: 300px;
    border: 200px;
}
.sem{
    padding: 0;
}
.com_padding{
    padding: 100px;

}
.com_marging{
    padding:60px;
    margin:0; 
}
.site-header{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 32px;
    background:#efff;
    display: flex;
    box-shadow: 0 10px 24px rgba(0 ,0 ,0 , 0.08);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logo img {
    width: 96px;
    height: auto;
}

.informacoes.aluno{
    font-size: 14px;
    color: gray;
    margin-bottom: 4px;
}

.informacoes.titulo-site{
    font-size: 18px;
    margin: 0;
    color: black;
}
.site-nav a{
    color: darkslategray;
    text-decoration: none;
    font-weight: 600px;
}
 .site-nav a:hover {
    text-decoration: underline;
 }
