body{
    background-color: black;
    background-image: url("https://usagif.com/wp-content/uploads/gifs/moon-41.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Dancing Script", cursive;
}
p {
    color:rgb(215, 203, 38); 
    font-size: 50px;
   
}

#lua{
border-radius:10%;
}
.caixa{
    background-color: aliceblue;
    width: 300px;
    border: 200px;
}
.sem{
    padding: 0;
}
.com_padding{
    padding: 100px;

}
.com_marging{
    padding:60px;
}